body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.test-buttons {
  display: flex;
  flex-direction: column; /* Кнопки одна под другой */
  gap: 20px; /* Расстояние между кнопками */
}

.test-buttons button {
  padding: 25px 50px; /* Увеличиваем размер кнопок */
  font-size: 24px; /* Увеличиваем шрифт */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-buttons button:hover {
  background-color: #28a745; /* Зеленый цвет при наведении */
}